/* Default Theme: Green */
:root {
    --color-bg-primary: #121212;
    --color-bg-secondary: #201F23;
  
    --color-primary: #395917;      /* Army green */
    --color-secondary: #A4CBAE;    /* Soft Green */
    --color-error: #98140B;        /* Red */
    --color-text: #FFFFFF;         /* Text White */
    --color-icon: #FFFFFF;         /* Icon Color */
    --color-shadow: rgba(0,0,0,0.2);
  }
  
  /* Orange Theme */
  [data-theme="orange"] {
    --color-primary: #F97316;
    --color-secondary: #FDBA74;
    --color-error: #DC2626;
    --color-text: #FFFFFF;
    --color-bg-primary: #1A1A1A;
    --color-bg-secondary: #2A2A2A;
    --color-icon: #FFFFFF;
    --color-shadow: rgba(0,0,0,0.25);
  }
  
  /* Blue Theme */
  [data-theme="blue"] {
    --color-primary: #2563EB;
    --color-secondary: #93C5FD;
    --color-error: #DC2626;
    --color-text: #FFFFFF;
    --color-bg-primary: #0F172A;
    --color-bg-secondary: #1E293B;
    --color-icon: #FFFFFF;
    --color-shadow: rgba(0,0,0,0.3);
  }
  